html{
	box-sizing: border-box;
}

.image-contain{
	display: flex;
}

.contain{
	padding-left: 10px;
	padding-right: 10px;
}

.original-contain{
	flex: 1 100%;
}

.drawn-contain{
	flex: 1 100%;
}

.comment{
	border: 1px solid #000;
	margin-top: 10px;
	padding: 10px;
}

.image{
	max-width: 500px;
}

.org{
	position: fixed;
}