*{
	box-sizing: border-box;
}

body{
	margin-left: 33px;
	margin-right: 33px;
	font-family: sans-serif;
}

.next-image{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	background: rgba(204, 204, 204, 0.5);
	text-decoration: none;
	z-index: 2;
}

.next-image::after{
	content: ">";
	display: block;
	position: relative;
	top: 50%;
	font-family: sans-serif;
	font-size: 40px;
	color: #6D6D6D;
	margin: 10px;
}

.next-image:hover{
	background: rgba(204, 204, 204, 0.7);
}

.back-image{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: rgba(204, 204, 204, 0.5);
	text-decoration: none;
	z-index: 2;
}

.back-image::after{
	content: "<";
	display: block;
	position: relative;
	top: 50%;
	font-family: sans-serif;
	font-size: 40px;
	color: #6D6D6D;
	margin: 10px;
}

.back-image:hover{
	background: rgba(204, 204, 204, 0.7);
}

.image-contain{
	display: flex;
}

.contain{
	padding-left: 10px;
	padding-right: 10px;
}

.original-contain{
	flex: 1 100%;
}

.drawn-contain{
	flex: 1 100%;
}

.comment{
	border: 1px solid #000;
	margin-top: 10px;
	padding: 10px;
}

.image{
	max-width: calc(100% - 20%);
}

.original{
	display: flex;
	flex-direction: column;
}

.orig-image-contain{
	width: calc(100% - 20%);
}

.org{
	position: relative;
}

.fixed{
	top: 20px;
	position: fixed;
	flex: 1 100%;
	width: calc(100% / 2)
}